.search-box {
  -webkit-appearance: none;
  border-width: 2px;/*extra*/
  border-radius: 5px;/*extra*/
  border-color: aqua;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
}